.clsSerchTxt{
    margin-top: 3rem;
}
 header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    flex-direction: row-reverse;
  }

  .example-full-width {
    width: 100%;
  }
  .cssCurrentTemerature{
    margin-left: 10%;
    font-weight: bold;
  }
  .css-weather-5-Next-Days{
    height: 100px;
    width: 90px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
  }
 